.idea/
.gradle/
**/build/
*.jar
*.zip
**/build
node_modules/
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log

!gradle/wrapper/*.jar
.DS_Store
